streamlit==1.28.2
gymnasium>=0.29
numpy==1.24.4
torch>=2.1.0  # Be more specific with the minimum version
torchaudio>=2.1.0 # Match the torch version
torchvision>=0.16.0 # Match the torch version
matplotlib
